<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611204246163-2eoa3e412d6ntcehqjgain9iia0u5tmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611204246163-2eoa3e412d6ntcehqjgain9iia0u5tmp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>611204246163-5b1sf1h9uqmh0vvjnlapu1noesvh6dmi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0hpjZ-GJUWyGbdSnkfpMMML5hgd4laiA</string>
	<key>GCM_SENDER_ID</key>
	<string>611204246163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcspace.app</string>
	<key>PROJECT_ID</key>
	<string>mc-space-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>mc-space-platform.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611204246163:ios:d40af277e37fc2d8c33b66</string>
</dict>
</plist>